@{
    ViewData["Title"] = "Resetuj klucz uwierzytelniający";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz swój klucz uwieżytelniający, twoja aplikacja uwieżytelniająca nie będzie działała dopóki nie zrekonfigurujesz jej.</strong>
    </p>
    <p>
        Ten proces wyłącza 2FA dopóki nie zweryfikujesz swojej aplikacji uwieżytelniającej i zresetuje także twoje kody przywracające 2FA.
        Jeśli nie ukończysz swojej aplikacji uwieżytelniającej konfiguracja może stracić dostęp do twojego konta.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Zresetuj klucz uwierzytelniający</button>
    </form>
</div>