@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Uwierzytelnianie dwusk³adnikowe";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Nie posiadasz ju¿ kodu przywracaj¹cego.</strong>
            <p>Musisz <a asp-action="GenerateRecoveryCodes">musisz wygenerowaæ nowy zestaw kodów przywracaj¹cych</a> zanim zalogujesz siê z kodem przywracaj¹cym.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Posiadasz 1 kod przywracaj¹cy.</strong>
            <p>Mo¿esz <a asp-action="GenerateRecoveryCodes">wygenerowaæ nowy zestaw kodów przywracaj¹cych</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Posiadasz @Model.RecoveryCodesLeft kodów przywracaj¹cych.</strong>
            <p>Powinieneœ <a asp-action="GenerateRecoveryCodes">wygenerowaæ nowy zestaw kodów przywracaj¹cych</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Wy³¹cz 2FA</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Zresetuj kody przywracaj¹ce</a>
}

<h5>Aplikacja uwierzytelniaj¹ca</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Dodaja aplikacjê uwie¿ytelniaj¹c¹</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Skonfiguruj aplikacjê uwie¿ytelniaj¹c¹</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Zresetuj klucz uwierzytelniaj¹cy</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
