@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zresetowane. Kliknij <a asp-action="Login">tutaj</a> żeby się zalogować.
</p>
