body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

#upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#fileBasket {
    min-height: 300px;
    min-width: 300px;
    border-style: dashed;
    border-radius: 7px;
    border-color: aqua;
    border-width: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
}

#auction-thumbnail-img {
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 800px;
    width: 100%;
}

#add-auction-btn {
    margin: 10px;
}

.auction-in-list {
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 5px;
    padding-top: 5px;
}
.items-list-auction-description {
    float: left;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: deepskyblue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 150px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.bid-added-message {
    /*background-color: lightgreen;
    color: darkgreen;
    border-radius: 7px;
    border: 1px solid darkgreen;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;*/
    height: 0px;
    visibility: hidden;
}

#application-logo {
    font-size: 200%;
}

@media only screen and (max-width: 400px) {
    #application-logo {
        font-size: 180%;
    }
}
@media only screen and (max-width: 370px) {
    #application-logo {
        font-size: 160%;
    }
}
@media only screen and (max-width: 345px) {
    #application-logo {
        font-size: 140%;
    }
}
@media only screen and (max-width: 310px) {
    #application-logo {
        font-size: 120%;
    }
}
@media only screen and (max-width: 285px) {
    #application-logo {
        font-size: 100%;
    }
}
@media only screen and (max-width: 258px) {
    #application-logo {
        font-size: 80%;
    }
}
@media only screen and (max-width: 225px) {
    #application-logo {
        font-size: 70%;
    }
}
@media only screen and (max-width: 215px) {
    #application-logo {
        display: none;
    }
}